/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/*Remove default margins,padding & set box-sizing*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font used most in layout for ALL elements*/
  font-family: 'Montserrat', sans-serif;
}

body {
  max-width: 1440px;
  min-width: 375px;
  max-height: 1351px;
  margin: 0 auto;
}

.page {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  padding: 4.5% 17% 1.5%;
  background-color: #FFF;
  border-radius: 8px;
  font-weight: 600;
  color: #828282;
}

.header {
  margin-bottom: 5%;
}

.header__title {
  font-size: 2.25em;
}

.order-form {
  display: flex;
}

/*===============Customer & shipping info===============*/

.order-form__customer-info {
  width: 70%;
  margin-right: 112px;
  display: flex;
  flex-direction: column;
}

.contact-info {
  width: 100%;
  position: relative;
}

/*input containers with icons & placholder text*/
.contact-info__section, .shipping-info__section, .country-info__section {
  display: flex;
  align-items: center;
  margin: 1.5% 0 5%;
  padding: 1em;
  font-size: 1em;
  border-radius: 12px;
  border: 1px solid #828282;
}

.contact-info__heading, .shipping-info__heading {
  width: 100%;
  font-size: 1.15em;
  padding-bottom: 3%;
  color: #333333;
}

.contact-info__sub-heading, .shipping-info__sub-heading  .country-info__sub-heading{
  font-size: .75em;
  color: #4F4F4F;
}

.contact-info__text, .shipping-info__text, .country-info__text {
  width: 100%;
  /* margin: 2% 0 4%; */
  /* padding: 0 10px; */
  font-size: 1em;
  /* border-radius: 12px; */
  border: none;
}

.contact-info__text::placeholder {
  color: #828282;
  font-weight: 600;
}

/*contact info icons*/
#email-icon, #phone-icon {
  margin-right: 5%;
}

.shipping-info {
  position: relative;
}

.shipping-info__heading {
  margin-top: 6%;
}

.shipping-info__text::placeholder {
  color: #333333;
  font-weight: 600;
}

/*Shipping icons*/
#name-icon, #address-icon, #city-icon, #country-icon, #postal-icon {
  margin-right: 5%;
}

.address::placeholder {
  color: #828282;
  font-weight: 600;
}

.country-info {
  display: flex;
  justify-content: space-between;
}

.country-info__container {
  width: 45%;
}

.country-info__section {
  width: 100%;
}

/*Country selection block*/
#countries {
  border: none;
  padding-right: 10%;
  font-size: 1em;
  color: #828282;
}

.save-info {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.save-info__checkbox {
  width: 21px;
  margin-right: 2%;
  height: 21px;
  border-radius: 4px;
}

.country-info__save-text {
  font-size: .75em;
  color: #4F4F4F;
}

/*Order button*/
.order-form__button {
  align-self: flex-end;
  width: 166px;
  height: 54px;
  border-radius: 12px;
  background-color: #F2994A;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

/*footer styles*/
.footer {
  margin-top: 159px;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}

/*===============Shopping cart===============*/

.order-form__shopping-cart {
  width: 56.5%;
  height: 535px;
  border-radius: 12px;
  background: #F2F2F2;
  padding: 3%;
}

.items {
  width: 100%;
  margin-bottom: 30%;
}

.items__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.items__item-pic {
  width: 134px;
  border-radius: 13px;
}

.items__item-details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 50%;
}

.items__item-name {
  color:#4E5150 ;
  margin-bottom: 6%;
}

.items__item-price {
  width: 68%;
  color: #F2994A;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items__item-name, .items__item-price {
  font-size: 1em;
}

.items__item-price span {
  font-size: .75em;
  color: #4E5150;
  text-decoration: line-through;
}

.items__item-count {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10% 2%;
  margin-top: 16%;
  border: 1px solid #828282;
  border-radius: 12px;
  width: 134px;
}

#minus-icon, #plus-icon {
  background-color: #E0E0E0;
  font-size: 1.25em;
  padding: 2%;
  border-radius: 4px;
  cursor: pointer;
}

.items__item-number {
  font-size: 1em;
}

.order-form__shipping, .order-form__total {
  display: flex;
  justify-content: space-between;
  padding: 4% 0 3%;
  border-top: 1px solid #BDBDBD;
}

.order-form__shipping-heading, .order-form__total-heading {
  font-size: 1.15em;
}

.order-form__shipping-price, .order-form__total-price {
  font-size: 1em;
}

/*footer styles*/
.footer {
  margin-top: 159px;
  font-family: 'Montserrat', sans-serif;
  color: #BDBDBD;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.footer span {
  text-decoration: underline;
  font-weight: 700;
}




/*temporary settings to see in the browser*/
/* div {
  border: 1px solid;
} */